body{
    background-color: #002333;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 3px white;
    background-color: #191a1c;
    color:white
}
nav{
    display: flex;
    justify-content: center;
}
nav>a{
    text-decoration: none;
    color: white;
    margin: 1rem;
}
#content{
    
}
#content>div{
    padding-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}
#home{
    background-color: #002333;
    color:white;
}
#home_content{
    display: flex;
    align-items: center;
}
h1{
    color: #e44e59;
}
#bio{
    background-color: #1A1D22;
    color: #D1D2D4;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 0px rgba(256,256,256,0.25);
}
#displayImage{
    width: 100px;
    height: 100px;
}
#about{
    padding: 1rem;
    margin: 1rem;
}

#skills{
    background-color: #191a1c;
    color:white
}
#skills_content{
  display: flex;
  justify-content: center;
}

.skill-category{
    background-color: #2f3032;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    border-radius: 1rem;
}
li{
    color: #c9c9c9;
}

#projects{
    background-color: #002333;
}
#projects_grid{
    display: flex;
    flex-direction: column;
}
.project_item_content{
    margin: 1rem;
    border-radius: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #191a1c;
}

.screenshot-wrapper {
    max-width: 100%; 
    height: auto;
  }
  
  .screenshot {
    width: 100%; 
    height: auto; 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  

.project_item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #989898;
}

.project_item>h2{
    color: white;
}
.button{
    background-color: #e44e59;
    margin: 1rem;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.button>a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 768px) {
    #home_content,.project_item_content{
      flex-direction: column;

    }
    .screenshot {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
      }
  }
  @media screen and (max-width: 570px) {
    #skills_content{
      flex-direction: column;

    }
  }